body{
	background-image:url("background.jpg");
}
textarea {
    max-width: 470px;
}

#sectionBlancMiniTest {
	background-color: #FFFFFF;
	color: #000000;
}

p.p1 {
  margin-right: 2%;
}

#catalogue {
    text-align: center;
}

#logo {
	text-align: left;
	font-size: 4em;
	font-family: Georgia;
}

#titre {
	text-align: center; 
	font-size: 3em;
}

#usager {
	text-align: right; 
}

a.lienCoolPlay {
	color: #000000;
	text-decoration: none;
}

a.lienSousMenu {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial;
}	

#sectionSousMenu {
	background-color: #FFFFFF;
	color: #FFFFFF;
	text-align: center; 
}

#sectionVerte {
	background-color:#38761d;
	color: #FFFFFF;
	text-align: center; 
}

#sectionNoirDeux {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center; 
}

#sectionBlanc {
	background-color: #FFFFFF;
	color: #000000;
}

#conteneurFormulaire {
	background-color: #FFFFFF;
	color: #000000;
	.justify-content-md-center
}

#tableauFormulaire {
  table-layout: auto;
  width: 50%;
  margin: 0 auto !important;
}

#tableauFormulaire td {
  padding: 15px;
}