/*body{
	background-image:url("background.jpg");
}*/
textarea {
    max-width: 470px;
}

#sectionBlancMiniTest {
	background-color: #FFFFFF;
	color: #000000;
}

p.p1 {
  margin-right: 2%;
}

#catalogue {
    text-align: center;
}

#logo {
	text-align: center;
	padding-bottom: 15px;
}

#conteneurUsager {
	background-color: #FFFFFF;
	margin-top:100px;
	padding-bottom:100px;
	margin-left: 550px;
	margin-right: 550px;
	border-style: groove;
	border-color: green;
	border-width: 5px;
}

#espace {
	padding-bottom: 100px;
}

#logoUsager {
	text-align: center;
	padding-bottom: 50px;
}

#titre {
	text-align: center; 
	font-size: 3em;
}

#usager {
	text-align: right;
	font-size: 1.5em;
	padding-right: 10px;
}

a.connexion {
	color: #38761d;
	text-decoration: none;
}

a.lienCoolPlay {
	color: #000000;
	text-decoration: none;
}

a.lienSousMenu {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial;
}	

#sectionSousMenu {
	background-color: #FFFFFF;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 10px;
}

#sectionVerte {
	background-color:#38761d;
	color: #FFFFFF;
	text-align: center; 
}

#sectionEnTete {
	background-color:#93c47d;
	text-align: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#sectionNoirDeux {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center; 
}

#sectionBlanc {
	background-color: #FFFFFF;
	color: #000000;
}

#conteneurFormulaire {
	background-color: #FFFFFF;
	color: #000000;
	.justify-content-md-center
}

#tableauFormulaire {
   table-layout: auto;
   width: 50%;
   margin: 0 auto !important;
 }

#tableauFormulaire td {
  padding: 15px;
}

#table1 td {
  vertical-align: middle !important;
}